

.project{
    padding: 10%;
}
.inner{
    border: 5px solid black;
    border-top: 50px solid black;
    border-bottom: 10px solid black;


}
#responsiveCalculator{
    font-size: 49px;
    color: green
}
.textArea{
    border:2px solid black;
}


/* first row button width */
#AC{
    width: 100%;
    margin-left: 11px;
    height: 60px;
    font-size: 30px;

}
#divide{
    width: 100%;
    height: 60px;
    font-size: 30px;

}
#percent{
    width: 80%;
    height: 60px;
    font-size: 30px;


}


/* second row button width */
#seven{
    width: 100%;
    margin-left: 11px;
    height: 60px;
    font-size: 30px;


}
#eight{
    width: 100%;
    height: 60px;
    font-size: 30px;


}
#nine{
    width: 100%;
    height: 60px;
    font-size: 30px;


}
#multiply{
    width: 80%;
    height: 60px;
    font-size: 30px;


}

/* Third row button width */
#four{
    width: 100%;
    margin-left: 11px;
    height: 60px;
    font-size: 30px;


}
#five{
    width: 100%;
    height: 60px;
    font-size: 30px;


}
#six{
    width: 100%;
    height: 60px;
    font-size: 30px;



}
#minus{
    width: 80%;
    height: 60px;
    font-size: 30px;


}




/* fourth row button width */
#one{
    width: 100%;
    margin-left: 11px;
    height: 60px;
    font-size: 30px;


}
#two{
    width: 100%;
    height: 60px;
    font-size: 30px;


}
#three{
    width: 100%;
    height: 60px;
    font-size: 30px;


}
#plus{
    width: 80%;
    height: 60px;
    font-size: 30px;


}
/* fifth row button width */
#zero{
    width: 100%;
    margin-left: 11px;
    height: 60px;
    font-size: 30px;


}
#dot{
    width: 100%;
    height: 60px;
    font-size: 30px;


}
#equal{
    width: 80%;
    height: 60px;
    font-size: 30px;



}

/* size of image */
.imageOne{
    width:250px;
    height: 580px;
    font-size: 30px;

}

@media screen and (max-width: 1200px) {
    .textArea{
        width: 95%;
    }
    #responsiveCalculator{
        font-size: 30px;
    }
    .imageOne{
        width:200px;
        height: 580px;
    
    }
    .imageOne{
        display: none;
    }
}


@media screen and (max-width: 760px) {
   
    #responsiveCalculator{
        font-size: 20px;
    }
    #zero{
        font-size: 20px;
    }
    #AC{
        font-size: 20px;
    }
    #one{
        font-size: 20px;
    }
    #two{
        font-size: 20px;
    }
    #three{
        font-size: 20px;
    }
    #four{
        font-size: 20px;
    }
    #five{
        font-size: 20px;
    }
    #six{
        font-size: 20px;
    }
    #seven{
        font-size: 20px;
    }
    #eight{
        font-size: 20px;
    }
    #nine{
        font-size: 20px;
    }
    #plus{
        font-size: 20px;
        text-align: left;
    }
    #divide{
        font-size: 20px;
        text-align: left;
    }
    #multiply{
        font-size: 20px;
        text-align: left;
    }
    #equal{
        font-size: 20px;
        text-align: left;
    }
    #percent{
        font-size: 15px;
        text-align: left;
    }
    #minus{
        font-size: 20px;
        text-align: left;
    }
   
    
    
}

@media screen and (max-width: 600px) {
    #AC{
        width: 95%;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #zero{
        width: 95%;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #one{
        width: 95%;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #two{
        width: 95%;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #three{
        width: 95%;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #four{
        width: 95%;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #five{
        width: 95%;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #six{
        width: 95%;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #seven{
        width: 95%;
        margin-right: 10px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #eight{
        width: 95%;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #nine{
        width: 95%;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #plus{
        width: 95%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #divide{
        width: 95%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #multiply{
        width: 95%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #equal{
        width: 95%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #percent{
        width: 95%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #minus{
        width: 95%;
        text-align: center;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #dot{
        width: 95%;
        margin-bottom: 10px;
        font-size: 30px;
    }
    #responsiveCalculator{
        font-size: 30px;
    }
}







